{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}

<h2 class="text-center my-3">About Us</h2>

<div class="container my-4 shadow p-3 mb-5 bg-white rounded bg-black">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://source.unsplash.com/4rvBjoQWERk/1600x600" class="d-block" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Lorem, ipsum dolor.</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde dolorem saepe labore ipsa
                        distinctio quaerat sapiente magnam blanditiis earum! Impedit possimus omnis doloremque libero
                        nulla?</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-4 shadow p-3 mb-5 bg-white rounded bg-black">
    <div class="container my-4 shadow p-3 mb-5 rounded " style="background-color: lightgray;">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus itaque similique quibusdam officia alias,
        accusamus doloremque ipsam? Odit a ipsa hic suscipit quisquam provident iusto fugiat culpa, enim, sint iste
        blanditiis, odio aperiam nisi cupiditate iure debitis nostrum. Impedit expedita architecto alias sit accusantium
        provident perspiciatis recusandae quas deleniti commodi nisi, consectetur mollitia veritatis nihil laudantium
        vitae quaerat iusto corporis ea suscipit necessitatibus dolor tenetur quos unde. Earum alias, eaque ratione eum
        delectus adipisci maiores deleniti reiciendis modi, dolore ipsum quia, ducimus mollitia. Quisquam, nam quidem
        obcaecati unde quaerat quis amet corporis! Expedita, asperiores beatae cum molestias culpa, rerum inventore
        dolore hic necessitatibus perspiciatis vitae, accusamus laboriosam doloremque. Nisi enim sit, non possimus
        magnam modi excepturi sapiente quaerat odio vel nam. Vel exercitationem quod quis dolores iusto expedita ratione
        est ipsa. Perferendis sed magni reprehenderit, minima, nam nostrum vel necessitatibus error quam autem, illum
        eum velit dolores praesentium laudantium repudiandae aperiam ea esse obcaecati ducimus. Aut voluptates
        perferendis cumque! Quaerat eveniet adipisci architecto porro est molestiae illo ipsam, maiores commodi saepe
        accusamus beatae explicabo at exercitationem harum odio debitis qui fugit provident expedita voluptas excepturi
        cupiditate. Explicabo deleniti exercitationem cumque nulla! Commodi, voluptatem deserunt. Molestias sit sunt rem
        similique? Unde totam dolor ratione aut praesentium deserunt. Laudantium quidem animi ullam sint, ut quasi
        labore provident illo impedit numquam facilis eligendi delectus, praesentium earum at suscipit nisi debitis?
        Veniam modi iure eveniet, omnis culpa sequi! Perferendis cumque expedita est laborum sapiente quis officia, rem
        incidunt vitae odit perspiciatis quo blanditiis adipisci magni odio recusandae temporibus dolorem iusto facilis
        in. Ad, ipsum impedit numquam molestiae mollitia quaerat quae! Sapiente adipisci iure, quaerat quisquam, eaque
        consectetur, suscipit vitae odit saepe qui debitis incidunt illo alias itaque aut dignissimos sunt quidem
        ratione harum? Facere enim nulla quo voluptate totam illum voluptates vero temporibus aut id inventore vitae,
        tenetur saepe, officia eos! Dignissimos suscipit, rerum perferendis dicta voluptatum dolorem quasi velit
        blanditiis accusamus laboriosam quisquam unde quod, qui excepturi iusto officia. Voluptatibus maiores odio
        soluta adipisci necessitatibus dolore cum repellat iste eius quo eveniet in porro sit amet, quae, itaque,
        reprehenderit obcaecati temporibus laborum expedita harum excepturi neque aliquam? Blanditiis, quisquam dolorem
        repudiandae suscipit, corrupti soluta in eos exercitationem illum doloremque quae ducimus asperiores aliquid. Ut
        est doloribus quo corrupti molestias quasi consectetur culpa modi enim tempora laudantium repellat quisquam nam
        itaque incidunt ad cumque dolore totam id ipsa, quidem facilis. Dignissimos, eum vero dolorem, excepturi quas in
        sunt repellat ipsum, sequi laudantium officiis ullam amet rem. Labore delectus aspernatur itaque ipsa nostrum!
        Possimus animi neque ad? Earum, quibusdam quae. Quo ea accusantium unde in iste quos corporis illum, natus
        necessitatibus debitis nesciunt fuga, eum, hic sint sed? Dolorum facilis expedita ipsam ullam ex, non sint
        maiores voluptates quisquam error, culpa obcaecati autem eum qui possimus deserunt excepturi voluptate, quis
        quaerat magnam asperiores incidunt. Rerum iste nostrum illo nisi delectus numquam, quasi labore dignissimos
        excepturi corporis officia consequatur, beatae, temporibus atque a blanditiis quisquam pariatur inventore
        deserunt eum dolorem ullam cum alias soluta! Hic sed cumque magni placeat sequi eaque voluptas fugiat
        consequatur quisquam provident, quasi voluptates tenetur totam! Deleniti, dolorem. Facere quos, impedit modi
        deserunt pariatur iusto voluptatem, iure minima expedita quia quibusdam, doloremque eveniet possimus suscipit
        illum incidunt aut nulla perferendis quis tenetur mollitia quisquam corrupti cupiditate! Exercitationem
        reiciendis nesciunt quidem aspernatur laborum.</p>
    </div>
</div>
<img src="" />
{% endblock body %}